

// Color
$secondary: #dde9f9;
$white: #ffffff;
$info: #7895b4;
$black: #032149;
$primary: #0d6efd;
$danger: #ff5f6f;
$success: rgb(106, 138, 106);

// Change default margin
$enable-negative-margins: true;

// QA

$accordion-icon-transition: transform 0.5s ease-in-out;
$accordion-icon-transform:  rotate(-90deg);



@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Font
body{
    font-family: 'Poppins', sans-serif;
}

// Header
.header-wrap{
    background-image: radial-gradient(white, #dde9f9);
}

.mail-call, .social{
    a{
        text-decoration: none;
        color: $info;

        &:hover{
            color: $primary;
            transition: all 0.8s ease;
        }
    }   
}

.social {
    a{
        padding-right: 14px;

        &:last-child{
            padding-right: 0;
        }
    }
}

// Nav
.navbar{
    .navbar-toggler{
        &:focus{
            box-shadow: none;
        }
    }
}

.navbar-nav{
    a{
        color: $info;
        font-weight: 500;

        &:hover{
            color: $primary;
            transition: all 0.8s ease;
        }
    }   
}

.quote-btn{
    background-color: $primary;
    color: $white;
    font-weight: 500;

    &:hover{
        background-color: $info;
        color: $white;
        transition: all 0.5s ease;
    }
    &:focus{
        box-shadow: none;
    }
}
.quote-btn2{
    background-color: $secondary;
    color: $black;
    font-weight: 500;

    &:hover{
        background-color: $info;
        color: $white;
        transition: all 0.5s ease;
    }
    &:focus{
        box-shadow: none;
    }
}

// Hero 
.hero-wrap{
    background-image: radial-gradient(white, #dde9f9);
}
.hero-service{
    img{
        transition: transform .8s;

        &:hover{
            transform: rotate(180deg); 
        }
    }
}

.hero-man{
    transition: transform .8s;
    
    &:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }
}

// About

.content{
    position: relative;
    img{
        padding: 10px;
    }

    &:before,
    &:after {
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    }
    &:before {
    border-top: 10px solid $primary;
    border-left: 10px solid $primary;
    top: 0;
    left: 0;
    }
    &:after {
    border-right: 10px solid $primary;
    border-bottom: 10px solid $primary;
    bottom: 0;
    right: 0;
    }
}



// Work
.work-section{
    background-color: #ecf3fa;

    .work-item{

        
        h5{
            color: $black;
        }

        i{
            color: #c5ccd7;
        }

        &:hover{
            transition: all 0.8s ease;
            background-color: $primary;
            
            h5, i{
                color: $white;
            }
        }
    }
}

// INTRO
.intro{
    background-image: url('../images/intro-video-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        opacity: 0.9;
        background: rgba(0, 21, 45, 0.9);
    }

    .intro-right{
        // Border corner
        .intro-img{
            position: relative;
            img{
                padding: 10px;
            }
        
            &:before,
            &:after {
            width: 30px;
            height: 30px;
            content: '';
            position: absolute;
            }
            &:before {
            border-top: 10px solid $primary;
            border-left: 10px solid $primary;
            top: 0;
            left: 0;
            }
            &:after {
            border-right: 10px solid $primary;
            border-bottom: 10px solid $primary;
            bottom: 0;
            right: 0;
            }
        }

        .vid-pop-btn{

            @keyframes animate{
                0%{
                  box-shadow: 0 0 0 0 $primary;
                }
                40%{
                  box-shadow: 0 0 0 20px rgba(255,193,7,0);
                }
                80%{
                  box-shadow: 0 0 0 20px rgba(255,193,7,0);
                }
                100%{
                  box-shadow: 0 0 0 rgba(255,193,7,0);
                }
              }
            

            .play-btn{
                animation: animate 2s linear infinite;
                position: absolute;
                top: 35%;
                left: 45%;
                background-color: $primary;
                border-radius: 50%;
                cursor: pointer;
    
                i{
                    padding: 30px;
                    color: $white;    
                }
            }
        }
        // corner border
        .intro-img{
            
        }
    }
}

// Leader
.leader-ship{
    background-color: #ecf3fa;

    .img-animation{
        transition: transform .8s;

        &:hover{
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
        }
    }

    img{
        border-left: 7px solid white;
        border-top: 7px solid white;
        border-right: 7px solid white;
    }

    .leader-text{  
        // need to fix mobile > but < sm device 
        margin-top: -30px;
        background-color: white;
    }
}

// Progress Bar
.progress-section{
    .progress-circle{
        transition: transform .8s;

        &:hover{
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
        }
    }
}
    
// Contact
.contact-bg{
    background-image: url('../images/contact-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        opacity: 0.9;
        background: rgba(0, 21, 45, 0.9);
    }


    .input-group{
        span{
            border-color: $info;
        }

        ::placeholder{
            color: $info;
            padding-top: 10px;
            padding-left: 8px;
        }

        .form-control{
            border-color: $info;
            color: $white;

            &:focus{
                box-shadow: none;

                &::placeholder{
                    color: $white;
                }
            }
        }
    }

}

// QA
.qa-section{
    background-color: #ecf3fa;
    
    .accordion{
        .accordion-item{
            .accordion-button{

                &:focus{
                    box-shadow: none;
                }
            }
        }
    }

    .qa-right{
        .first-img{
            img{
                transition: transform .8s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .second-img{

            img{
                margin-top: -40%;
                border: 8px solid $secondary;
                transition: transform .8s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

// Get Action
.get-action{
    background-image: url('../images/cta-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        opacity: 0.7;
        background: rgba(13, 110, 253, 1);
    }
}

// Blog
.blog{
    background-color: #002248;

    .blog-title{
        h6{
            color: #6a96b6;
        }
    }

    .blog-item{
       
        .blog-img{
            opacity: 0.8;
            transition: transform 2s;
            &:hover{
                transform: scale(1.05);
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    top: 0; bottom: 0;
                    opacity: 0.5;
                    background-image: linear-gradient(#0167ff, #f9fbff);
                }
            }   
        }

        .item-text{
            top: -100px;
            padding-left: 14px;
            font-weight: bold;

            a{
                color: $white;
                line-height: 25px;
                transition: all 0.8s ease;
                &:hover{
                    
                    color: $primary;
                    position: relative;
                }
            }
        }

    }
}

// Footer
.footer{
    background-image: url('../images/footer-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        opacity: 0.9;
        background: rgba(0, 21, 45, 0.9);
    }

    .footer-mid{
        a{
            color: $white;
            transition: all 0.3s ease;

            &:hover{
                color: $primary;
            }
        }
    }

}














